* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Neutral, sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    background-color: #E3F4F4;
}

.card {
    width: 800px;
    min-width: 200px;
    height: 280px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    background-color: #F8F6F4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card>div {
    height: 100%;
}

#profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 40%;
}

.info,
.current {
    margin-top: 5%;
}

.info {
    height: 200px !important;
    padding-right: 40px;
    border-right: 3px solid grey;
}

.title {
    font-size: 30px;
}

.designation {
    font-size: 22px;
    color: #1F6E8C;
}

.contact {
    margin-top: 30%;
    font-size: 18px;
}

.email {
    margin-top: 5%;
}

.dot {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background-color: black;
}

.left-dots {
    position: initial;
}

.dot1 {
    top: 10px;
}

.dot2 {
    top: 6px;
}

.dot3 {
    top: 20px;
}

.dot4 {
    top: 16px;
}

.dot5 {
    top: 30px;
}

.dot6 {
    top: 26px;
}

.dot2,
.dot4,
.dot6 {
    left: 40px;
}

.dot1,
.dot3,
.dot5 {
    left: 10px;
}

.right-dots {
    position: relative;
}

.dot8,
.dot10 {
    right: 10px;
}

.dot7,
.dot9 {
    right: 40px;
}

.dot7 {
    top: 250px;
}

.dot8 {
    top: 246px;
}

.dot9 {
    top: 260px;
}

.dot10 {
    top: 256px;
}

.site {
    margin-top: 143px;
}

.left-dots>.dot {
    animation: fadeInLeft 1s ease-in-out;
}

.right-dots>.dot {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
    }
}